*, *::before, *::after {
    box-sizing:border-box;
    transition: all 0.5s ease;
}

/* dark mode */
:root {
    --header: rgb(167, 0, 0);
    --main: rgb(255, 0, 0);
    --aside: rgb(21, 148, 106);
    --article: rgb(255, 196, 0);
    --pokeball: url(images/pokeballpx.png);
}

.pokeball {
    background-image: var(--pokeball);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3em;
    height: 3em;
}
.dark {
    --header: rgb(83, 83, 83);
    --main: rgb(32, 32, 32);
    --aside: rgb(32, 32, 32);
    --article: rgb(255, 196, 0);
    --pokeball: url(images/ultraballpx.png);

}
/* dark mode */
html {
    overflow: auto;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 0.5em;
    transition: all 1s ease;
}
 
::-webkit-scrollbar-track {
    background-color: var(--main);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    transition: all 1s ease;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--header); 
    transition: all 1s ease;
}
body {
    overflow-y: scroll;
    margin: 0 auto;
    padding: 0 auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;;
    height: 100vh;
    display: grid;
    grid-template-columns: 8% repeat(2,1fr) 8%;
    grid-template-rows: minmax(108px, 10%) minmax(480px,1fr) minmax(480px,1fr) minmax(480px,1fr) minmax(108px, 10%);
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "article article article article"
    "aside aside aside aside"
    "footer footer footer footer";
    background: red;
    margin: 0;
}

.main {
    display: grid;
    place-items: center;
}

.header {
    grid-area: header;
    background: var(--header);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    place-items: center;
}

.header-icon img{
    height: 3.5em ;
    width: 3.5em;
}

.header-title {
    display: grid;
    place-items: center;
}

.main {
    grid-area: main;
    background-color: var(--main);
}

.article {
    grid-area: article;
    background: var(--article);
}

.aside {
    grid-area: aside;
    background:var(--aside);
}

.footer {
    grid-area: footer;
    background: var(--header);
}

.footer ul {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    gap: 2em;
    padding: 1em;
    list-style-type: none;
}

.footer a {
    color: white;
    text-decoration: none;
}

/*
        input[type=checkbox] {
        display:none;
        }

label {
    display: grid;
    place-items: center;
}

input[type=checkbox] + label {
    margin: 0;
    background:url("PBR.svg") no-repeat center;
    height: 120px;
    width: 120px;;
    background-size: 100%;
    transition: all 0.1s;
    cursor: pointer;
}

input[type=checkbox]:checked + label {
    background:url("UBYB.svg") no-repeat center;
    height: 120px;
    width: 120px;
    background-size: 100%;
    transition: all 0.2s;
    cursor: pointer;
}

*/
input[type=checkbox] {
    display:none;
}

label {
display: grid;
place-items: center;
}

input[type=checkbox]:hover + label{
    transform: scale(1.2);
}

input[type=checkbox] + label {
height: 80px;
width: 120px;
background: no-repeat center / contain url(images/PBR.svg);
transition: all 0.3s ease;
cursor: pointer;
}

input[type=checkbox]:checked + label {
background: no-repeat center / contain url(images/UBYB.svg);
height: 80px;
width: 120px;
transition: all 0.3s ease;
cursor: pointer;
}

.UBYB {
background: no-repeat center / contain url(images/UBYB.svg);
height: 80px;
width: 120px;
transition: all 0.3s ease;
cursor: pointer;
}